.homepage {
    height: 100%;
        // background-color:#0085FE;
    background: linear-gradient(to left, #00f0b3, #036ed9);
}

.firstDiv {
    top: 0;
}

.mission, .servicesProvided {
    opacity: 0.8;
}

.servicesProvided {
    text-decoration: none;
}