.footerBg {
    background-color: #1c2331;
}

.socialSection {
    background-color: #6351ce;
}

.ruler {
    width: 60px;
    height: 4px;
    background-color: #7c4dff;
}

.copyrightSection {
    background-color: rgba(0, 0, 0, 0.2)
}