// .allMenu {
//     position: fixed;

    
// }

.buttons {
    text-decoration: none !important;
    color: white
}

.buttons:hover {
    background-color: #fff;
    border: #fff 1px solid;
    color: #00E1B7;
    font-weight: bold;
}

.dropdownService:hover {
    background-color: #fff;
    border: #fff 1px solid;
    color: aqua;
    font-weight: bold;
}